################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clean-architecture-webapi/.vs/clean-architecture-webapi/FileContentIndex
